# <center> **Capstone Project - Part 1** </center>

## <center> **MySQL** </center>

***

## **Olympics Dataset Analysis using MySQL**

### Introduction

As we know, The Olympic Games are considered as the world's foremost,largest and ancient sports competition in which sportspersons from all over the world do particiapte and strive hard to create a footprints in the Olympic Games. Presently more than 200 countries participate in this competition. The Olympic Games are normally held every four years. 

In our Olympics dataset we are provided with the names of participants, their country name, year and date of particiaption in Olympics, which sport they participated, Olympic Medals they have won to make their country proud. The given data set only includes the particiapnt who have won atleast one medal in any sport in the year 2000 to 2012. **We will use MySQL to write the query for our analysis purpose.** The column names of the dataset are self explanatory in order to provide information. 

![olp](https://thebridge.in/h-upload/2021/03/30/1395-olympicringstmciocallrightsreserved1986.webp)


### Objectives of the Project

We will analyze our dataset using following problem statement.

• To find the average number of medals won by each country.

• To display the countries and the number of gold medals they have won in decreasing order.

• To display the list of people and the medals they have won in descending order, grouped by their country.

• To display the list of people with the medals they have won according to their age.

• To find which country has won the most number of medals.

### **Variables present in the dataset**

There are follwing variables i.e. columns are present in our dataset: 

• name - It is the name of the participant/sportsperson particiapted in Olympic Games

• age - This indicates the participant's age on the date of participation.

• country - The Country name which to which the participant belongs.

• year - The year of particiaption in the Olympic Games.

• Date_Given - Date of participation.

• sports - It is the sport in which sportsman has participated.

• gold_medal - The number of Gold medals won by participant.

• silver_medal - The number of Silver medals won by participant.

• brone_medal - The number of Bronze medals won by participant.

• total_medal - It is the sum of total medals won by participant.

### **To import dataset in MySQL Workbench**

>We will upload our csv file using libraries sqlalchemy, create engine , pandas on MySQL database. For that first we have to read csv file using pandas and then we will have to established connection with the database. We have already created schema name ‘capstone’ and we will import our csv data ‘olympix_data_organized_with_header (1) (1).csv’ using python and jupyter notebook. 
Once we have uploaded the data, we will check on MySQL Workbench if the data is being loaded correctly load or not.

In [11]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

df1 = pd.read_csv(r'C:\Users\Anjii\Downloads\olympix_data_organized_with_header (1) (1).csv')
df1
db_connection_str = 'mysql+pymysql://root:12341234@127.0.0.1/capstone'
db_connection = create_engine(db_connection_str)
df1.to_sql("olympic",db_connection)
print("data written into the table")
print(df1.shape)

data written into the table
(8618, 10)

### Conclusion
Our database is successfully written into the MySQL database as a table. We will do further analysis on MySQL Workbench.

***

### <center> **Thank You!** </center>